<form action="flats" method="GET">
  <% if params[:search].blank? %>
    <input type="text" name="search" placeholder="Type something">
  <% else %>
    <input type="text" name="search" value= <%= params[:search] %> >
  <% end %>
  <input type="submit" value="Submit">
</form>
<%= link_to "Add Flat", new_flat_path%>
<h1>All our flats</h1>
<p>all <%=@flats.size%> flats.</p>
<div class="card-trip">
  <% @flats.each do |flat| %>
  <img src="https://images.unsplash.com/photo-1464890100898-a385f744067f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
  <div class="card-trip-infos">
    <div>
      <h2><%=flat.name%></h2>
      <p><%=flat.description%></p>
    </div>
    <h2 class="card-trip-pricing"><%="£ #{flat.price_per_night}"%></h2>
    <h2 class="card-trip-pricing"><%=flat.number_of_guests%></h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
  <%= link_to "More Info  ", flat_path(flat)%>
  <%= link_to "Edit  ", edit_flat_path(flat) %>
  <%= link_to "Remove",  flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }%>
  <p> </p>
  <p> </p>
  <% end %>
</div>
